{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block page_body %}
    <div class="container">
    {% if current_user.is_authenticated %}
        <form role="form" id="main_input_box" method="post">
            <label class="label_addlist">
                {{ thing_form.csrf_token() }}
                {{ thing_form.thing(class="form-control", id="custom_textbox",placeholder=_("what are you to do?")) }}
                {{ thing_form.submit(class="btn btn-primary add_button") }}
            </label>
        </form>
    {% else %}
        <h2><a href="{{ url_for('author.login') }}">please login and start</a></h2>
    {% endif %}
    </div>
{% endblock page_body %}
